        {% extends 'base.html.twig' %}
        
        {% block title %}
            Accueil - {{ parent() }}
        {% endblock %}

        {% block body %}
            <h1>Ludotek</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, totam quaerat fuga impedit velit eaque, nam aperiam repellendus illo quis perspiciatis placeat eum animi facilis suscipit. Hic quas illo deleniti.</p>
        {% endblock %}
