        {% extends 'base.html.twig' %}
        
        {% block title %}
            Formulaire - {{ parent() }}
        {% endblock %}

        {% block body %}
            <h1>Formulaire de création de jeu</h1>
        {% endblock %}
