        <footer>
            <ul>
                <li>
                    <a href="#">Mentions légales</a>
                </li>
                <li>
                    <a href="#">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#">CGU</a>
                </li>
            </ul>
                <p>
                    <i class="fas fa-dice"></i>
                    Ludotek - Tous droits résérvés - {{ "now"|date("Y") }}  
                    <i class="fas fa-dice"></i>
                </p>
                
        </footer>